<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BlockHashMapper" >
  <sql id="Base_Column_List" >
    id, block_hash, block_height, block_create_time
  </sql>
  <select id="getMaxHeight" resultType="java.lang.Integer" >
    select  max(block_height) from block_hash
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from block_hash
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecochain.ledger.model.PageData" >
    insert into block_hash (block_hash, block_height,trade_num, 
      block_create_time)
    values 
    <foreach collection="blockList" item="item"  separator="," >
      (#{item.block_hash,jdbcType=VARCHAR}, #{item.block_height,jdbcType=INTEGER}, #{item.trade_num,jdbcType=INTEGER},now())
    </foreach>
  </insert>
  <select id="getBlockList10" resultType="com.ecochain.ledger.model.PageData" parameterType="java.lang.Integer">
    select * from block_hash order by block_height desc limit 0,#{rows} 
  </select>
</mapper>